.profile-image-container {
  position: relative;
  display: inline-block;
}

.profile-image-edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.profile-image-container:hover .profile-image-edit-overlay {
  opacity: 1;
}


.profile-sidebar {
  padding: 20px;
}

.profile-image {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

.owned-by {
  margin-bottom: 20px;
}

.profile-btn {
  width: 100%;
  margin-bottom: 10px;
}

/* Styles for the friends section */
.friends-card {
  margin-top: 20px;
}

.friends-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friends-count {
  font-weight: bold;
}

.show-all-btn {
  float: right;
}

.friends-carousel .carousel-inner {
  overflow: hidden; 
}

.friends-carousel .carousel-item {
  display: inline-block;
  width: calc(20% - 4px); 
  margin-right: 4px; 
}

.friend-avatar-img {
  width: 100%; 
  height: auto; 
  border-radius: 50%; 
}


.friend-username {
  text-align: center;
  margin-top: 0.5rem; 
}


.friends-carousel .carousel-control-prev,
.friends-carousel .carousel-control-next {
  display: none;
}


.friends-carousel .carousel-item .row {
  justify-content: center;
}


.friends-carousel .carousel-item .col {
  padding: 0;
}


.post-card {
  margin-bottom: 15px; 
  padding: 10px; 
  border-radius: 5px; 
  background-color: #f8f9fa; 
}

.post-card .post-image {
  width: 100%; 
  max-width: 300px;
  height: auto; 
  display: block; 
  margin: 10px auto; 
}

.friend-avatar-img {
  width: 100px; 
  height: 100px; 
  object-fit: cover; 
  border-radius: 50%;
  margin-top: 1rem;
}

.carousel-friend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.friend-username {
  text-align: center;
  margin-top: 1rem; /* Adjust this value as needed */
}