.profile-image-container {
  position: relative;
  display: inline-block;
}

.profile-image-edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.profile-image-container:hover .profile-image-edit-overlay {
  opacity: 1;
}


.profile-sidebar {
  padding: 20px;
}

.profile-image {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

.owned-by {
  margin-bottom: 20px;
}

.profile-btn {
  width: 100%;
  margin-bottom: 10px;
}

/* Styles for the friends section */
.friends-card {
  margin-top: 20px;
}

.friends-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friends-count {
  font-weight: bold;
}

.show-all-btn {
  float: right;
}

/* Carousel override to show multiple items */
.friends-carousel .carousel-inner {
  overflow: hidden; /* Hide the overflow to line up items offscreen */
}

.friends-carousel .carousel-item {
  display: inline-block; /* Display items inline */
  width: calc(20% - 4px); /* 5 items at once, minus margin */
  margin-right: 4px; /* Add some space between items */
}

/* Adjust the image size within each carousel item */
.friend-avatar-img {
  width: 100%; /* Make the image responsive within its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Round images */
}

/* Center the username below the avatar */
.friend-username {
  text-align: center;
  margin-top: 0.5rem; /* Adjust spacing above the username */
}

/* Hide carousel controls as they may not work with multiple items */
.friends-carousel .carousel-control-prev,
.friends-carousel .carousel-control-next {
  display: none;
}

/* Center items in the row within each carousel slide */
.friends-carousel .carousel-item .row {
  justify-content: center;
}

/* Reset padding on columns to ensure tight item grouping */
.friends-carousel .carousel-item .col {
  padding: 0;
}

/* Styles for each post card */
.post-card {
  margin-bottom: 15px; /* Space between cards */
  padding: 10px; /* Padding inside each card */
  border-radius: 5px; /* Rounded corners for the card */
  background-color: #f8f9fa; /* Slight card background color */
}

.post-card .post-image {
  width: 100%; /* Adjust this value as needed */
  max-width: 300px; /* Maximum width of the image */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Display block for proper alignment */
  margin: 10px auto; /* Center the image and add some margin */
}

.friend-avatar-img {
  width: 100px; 
  height: 100px; 
  object-fit: cover; 
  border-radius: 50%;
  margin-top: 1rem;
}

.carousel-friend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.friend-username {
  text-align: center;
  margin-top: 1rem; /* Adjust this value as needed */
}